.cardListContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 1024px) {
  .cardListContainer {
    gap: 24px;
  }
}

@media (max-width: 640px) {
  .cardListContainer {
    gap: 16px;
  }
}
