.teachersPageContainer {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  margin-top: 24px;
  padding-left: 128px;
  padding-right: 128px;
  margin-bottom: 24px;
  gap: 32px;
}
