.AppContainer {
  width: 100%;
  min-height: 8000px;
  margin: 0 auto;
}

.inHomePage {
  background-color: #fff;
}

.inTeachersPage {
  background-color: #f8f8f8;
}

.inFavoritesPage {
  background-color: #f8f8f8;
}
