.AppContainer {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.inHomePage {
  background-color: #fff;
}

.inTeachersPage {
  background-color: #f8f8f8;
}

.inFavoritesPage {
  background-color: #f8f8f8;
}

@media (max-width: 1024px) {
  .AppContainer {
    min-height: 100dvh;
  }
}

@media (max-width: 640px) {
  .AppContainer {
    min-height: 100dvh;
  }
}
